.inner_box_wrapper {
  width: 700px;
  margin: 5% auto;
}

/*ヘッダー部分*/
.header_list {
  width: 100%;
  height: 60px;
  background: rgb(241, 72, 72);
  display: flex;
  justify-content: space-between;
}

.h1_ttl {
  margin-left: 40%;
  font-size: 30px;
  color: #fff;
}

.nav_list {
  display: flex;
}
.li {
  list-style: none;
  width: 30px;
  height: 30px;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;

  margin-right: 15px;
}

.nav_list_a {
}

.img_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*アナウンススペース*/
.announce_space {
  height: 20vh;
  width: 100%;
  background: #eee;
  align-items: center;
}

.announce_p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
