/*メイン*/
.main {
  background: #f9f9f9;
  flex: auto;
  min-width: 10px; /*メインは横いっぱいに広がって欲しい*/
  padding: 30px; /*余白*/
}

/*お気に入り　新着　などの区切り*/
.top_ttl_h2 {
  font-size: 20px;
  color: #696969;
  border-top: 2px solid #ccc;
  padding: 15px 0;
  margin: 30px 0px;
}

/*サムネイルレイアウト*/

.main .box {
  padding: 30px 0;
}
.main .box + .box {
  border-top: 3px solid #ccc;
}
/*サムネイルリスト*/

/*お気に入り*/

.list_favo_image {
  display: flex;
  margin: -10px;
}
/**/
/**/
/**/
/**/
/**/
/**/

/*画像横スライド*/
.slider {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 1rem auto;
  box-sizing: unset;
  border: 1px solid black;
  border-radius: 6px;
}
.slider .slide {
  width: 250px;
  height: 200px;
  padding: 0;
  margin: 0 auto;
}

.slide {
  display: flex;
}

.slider .slide img {
  padding: 0;
  margin: 0;
  width: 250px;
  height: 200px;
}

.slider .slide ul {
  width: 1248px;
  height: 200px;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  font-size: 0;
  position: relative;
}
.slider .slide li {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  transition: 0.7s cubic-bezier(0.45, 0.06, 0.32, 1);
}

.slide li:nth-of-type(1) {
  left: -416px;
}
.slide li:nth-of-type(2) {
  left: 0px;
}
.slide li:nth-of-type(3) {
  left: 416px;
}

.controller {
  display: flex;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/*やじるし部分*/
.controller .prev-btn {
  margin-left: 3rem;
  cursor: pointer;
  color: #181818;
}
.controller .next-btn {
  margin-right: 3rem;
  cursor: pointer;
  color: #181818;
}

.controller .indicator {
  display: flex;
  width: 80px;
  height: 16px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #181818;
  border-radius: 10px;
}

.indicator span {
  width: 8px;
  height: 8px;
  background: whitesmoke;
  border-radius: 50%;
  padding: 0;
  margin: 0 4px 0 4px;
}

#active {
  background: red;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
